@import "/src/css/main.css";

.navbar-box{
    display: flex;
    flex-direction: column;
    
}

.navbar-top{
    height: 70px;
    width: 100vw;
    background-color: var(--color-blue-dark);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    
}

.navbar-top > a{
    margin: 10px;
    padding: 10px;
    color: var(--color-blue-text);
    text-decoration: none;
    font-weight: 600;
    font-size: .95rem;
}

.tel{
    position: absolute;
    top: 5px;
    right: 30%;
    display: flex;
    align-content: center;
}

.tel p{
    margin-left: 8px;
}

.email{
    position: absolute;
    top: 5px;
    right: 100px;
    display: flex;
}

.email p{
    margin-left: 8px;
}

.navbar-mid{
    width: 100vw;
    height: 15px;    
    background-color: var(--color-blue);
}

.navbar{
    font-size: 20px;    
    padding-bottom: 10px;
    background-color: var(--color-blue);
    height: 60px;
    width: 100vw;
    position: sticky;
    top: 0;
    
}


.navbar-nav{
    list-style-type: none;
    display: none;
}

.nav-item{
    margin: 0;
    
}


.navbar-nav a{
    text-decoration: none;
    color: var(--color-white);
    font-size: .95rem;
}

.navbar-nav li{
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle{
    position: absolute;
    top: 35px;
    left: 40px;
    cursor: pointer;
    font-size: 24px;
}

.activate{
    display: block;
}

@media screen and (min-width: 768px){
    .navbar{
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top:25px;
        left: 200px;  

    }
    
    .navbar-nav li{
        margin: 0;
    }

    .navbar-nav a{
        margin-left: 20px;
    }

    .logo{
        margin-top: 0;
    }

    .navbar-toggle{
        display: none;
    }

    .logo:hover,
    .navbar-nav a:hover{
        color:red;
    }

}