@import "/src/css/main.css";

/* NAVBAR-TOP */
.navbar-box{
    display: flex;
    flex-direction: column;
    
}

.navbar-top{
    height: 70px;
    width: 100vw;
    background-color: var(--color-blue-dark);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    box-shadow: 0 3px 2px #0D3D66;
    
}

.contact-box{
   display: flex;
   margin-right: 15%;
   align-items: center;
}

.tel,
.mail{
    margin: 10px;
    padding: 10px;
    color: var(--color-blue-dark-text);    
    font-weight: 600;
    font-size: .95rem;    
    text-decoration: none;
}


.tel{
    display: flex;
    align-items: center;
}

.tel p{
    margin-left: 8px;
}

.mail{    
    display: flex;
    align-items: center;
}

.mail p{
    margin-left: 8px;
}

.navbar-mid{
    width: 100vw;
    height: 15px;    
    background-color: var(--color-blue);
}

/* NAVBAR-STICKY */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;        
    padding-bottom: 10px;
    font-size: 20px;

    background-color: var(--color-blue);
    height: 70px;
    width: 100vw;    
    position: sticky;
    top: 0;

    box-shadow: 0 1px 3px #1662A6;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 220px;
    height: 50%;
    list-style-type: none;
    margin: 15px auto 0 auto;

}

.nav-item{
    text-align: center;
    
}

.link-text{
    margin: 0 10px;
    width: 100%;
    height: 100%;
}

.link-text a{
    text-decoration: none;
    color: var(--color-blue-text);
    font-size: .95rem;
    padding-top: 50%;
    padding-bottom: 40%;
}

.link-text a:hover{
    color: var(--color-white);
    transition: color .3s ease;
}

.nav-item a:hover::after{
    content: '';
    width: 100%;
    position: relative;    
    bottom: -21px;
    height: 1.8px;
    background-color: var(--color-white);
    display: block;
    margin: 0;
}  


.navbar-toggle{
    display: none;
}



@media screen and (max-width: 768px){

    .navbar-nav{
        display: none;
    }

    .navbar-toggle{
        display: flex;
        position: absolute;
        top: 35px;
        left: 40px;
        cursor: pointer;
        font-size: 24px;
        color: var(--color-white);    
        transform: scale(1.3,1)    
    }
    

    .activate{
        display: block;
    }

}